[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
appkit = "*"
pyobjc = "*"
playsound = "*"
beeply = "*"
beepy = "*"
simpleaudio = "*"

[dev-packages]

[requires]
python_version = "3.9"
